In [4]:
class vehicle:
    def __init__(self,e,r,p,c):
        self.engine=e
        self.reg_plate=r
        self.price=p
        self.color=c
class car(vehicle):
    def __init__(self,t,no_p,max_s,e,r,p,c):
        self.type=t
        self.no_of_passengers=no_p
        self.max_speed=max_s
        super().__init__(e,r,p,c)
class truck(car):
    def __init__(self,no_axel,l,t,no_p,max_s,e,r,p,c):
        self.no_of_axel=no_axel
        self.load_capacity=l
        super().__init__(t,no_p,max_s,e,r,p,c)
ob1=car("mercedes",6,"80km/h","125cc","KA 34 2656",72000,"black")
ob2=truck(8,"1000kg","VRL",60,"90km/h","200cc","KA 34 5767",890000,"yellow")

print("car have attributes like:",ob1.type,ob1.no_of_passengers,ob1.max_speed,ob1.engine,ob1.reg_plate,ob1.price,ob1.color)
print("truck having features like:",ob2.no_of_axel,ob2.load_capacity,ob2.type,ob2.no_of_passengers,ob2.max_speed,ob2.engine,ob2.reg_plate,ob2.price,ob2.color)

car have attributes like: mercedes 6 80km/h 125cc KA 34 2656 72000 black
truck having features like: 8 1000kg VRL 60 90km/h 200cc KA 34 5767 890000 yellow

In [7]:
class employee:
    def __init__(self,id,name,salary):
        self.id=id
        self.name=name
        self.salary=salary
class staff(employee):
    def __init__(self,w_type,w_area,id,name,salary):
        self.w_type=w_type
        self.w_area=w_area
        super().__init__(id,name,salary)
class developer(staff):
    def __init__(self,module,tech,experience,w_type,w_area,id,name,salary):
        self.module=module
        self.tech=tech
        self.experience=experience
        super().__init__(w_type,w_area,id,name,salary)
class manager(developer):
    def __init__(self,project,client_name,module,tech,experience,w_type,w_area,id,name,salary):
        self.project=project
        self.client_name=client_name
        super().__init__(module,tech,experience,w_type,w_area,id,name,salary)
ob1=staff("employee","central_room",126,"pavithra",30000)
ob2=developer("2nd","tech","2yrs","developer","control_room",124,"paru",30000)
ob3=manager("construction","pavithra","8th","tech","5yrs","manager","2nd floor",122,"hemu",40000)
print("staff includes:",ob1.w_type,ob1.w_area,ob1.id,ob1.name,ob1.salary)
print("developer includes:",ob2.module,ob2.tech,ob2.experience,ob2.w_type,ob2.w_area,ob2.id,ob2.name,ob2.salary)
print("manager includes:",ob3.project,ob3.client_name,ob3.module,ob3.tech,ob3.experience,ob3.w_type,ob3.w_area,ob3.id,ob3.name,ob3.salary)

staff includes: employee central_room 126 pavithra 30000
developer includes: 2nd tech 2yrs developer control_room 124 paru 30000
manager includes: construction pavithra 8th tech 5yrs manager 2nd floor 122 hemu 40000

In [15]:
#pattern printing
n=int(input("enter the no:"))
for i in range(0,n):
    for j in range(0,i+1):
        print("* ",end="")
    print()

enter the no: 5

*
* *
* * *
* * * *
* * * * *

In [18]:
n=int(input("enter the no:"))
for i in range(0,n):
    for i in range(i+1,n):
        print("*",end=" ")
    print()

enter the no: 5

* * * *
* * *
* *
*

In [15]:
n=int(input("enter the no:"))
m=int(input("enter the no:"))
for i in range(0,n):
    for i in range(0,m):
        print("*",end=" ")
    print()

enter the no: 4
enter the no: 4

* * * *
* * * *
* * * *
* * * *

In [42]:
#printing hollow square
n = int(input("Enter the number of rows/columns for the square: "))

for i in range(n):
    for j in range(n):
        if i == 0 or i == n-1 or j == 0 or j == n-1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter the number of rows/columns for the square:  4

* * * *
*     *
*     *
* * * *

In [45]:
n=int(input("enter the no:"))
for i in range(0,n):
    for j in range(0,i+1):
        print(i,end=" ")
    print()

enter the no: 4

0
1 1
2 2 2
3 3 3 3

In [12]:
#printing inverted pyramid
n=int(input("enter the no"))
for i in range(n):
    for j in range(i):
        print(" ",end="")
    for k in range(n-i):
        print("*",end=" ")
    print()

enter the no 5

* * * * *
 * * * *
  * * *
   * *
    *

In [20]:
n=int(input("enter the no"))
for i in range(n):
    for j in range(i):
        print(" ",end="")
    for k in range(n-i):
        print("*",end="")
    print()

enter the no 5

*****
 ****
  ***
   **
    *

In [21]:
#printing rectangle
n = int(input("Enter the number for row: "))
m=int(input("enter the number for col:"))
for i in range(n):
    for j in range(m):
        if i == 0 or i == n-1 or j == 0 or j == m-1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter the number for row:  5
enter the number for col: 3

* * *
*   *
*   *
*   *
* * *

In [22]:
n=int(input("enter the no of row:"))
for i in range(n):
    for j in range(n):
        if i==n-1 or j==0 or i==j:
            print("*",end="")
        else:
            print(" ",end="")
    print()

enter the no of row: 5

*
**
* *
*  *
*****

In [24]:
n=int(input("enter no of row:"))
for i in range(n):
    for j in range(n):
        if i==n-1 or j==n-1 or i+j==n-1:
            print("*",end="")
        else:
            print(" ",end="")
    print()

enter no of row: 5

    *
   **
  * *
 *  *
*****

In [25]:
n=int(input("enter no of rows:"))
for i in range(n):
    for j in range(n):
        if i==0 or j==0 or i+j==n-1:
            print("*",end="")
        else:
            print(" ",end="")
    print()

enter no of rows: 5

*****
*  *
* *
**
*

In [26]:
n=int(input("enter no of rows:"))
for i in range(n):
    for j in range(n):
        if i==0 or j==n-1 or i==j:
            print("*",end="")
        else:
            print(" ",end="")
    print()

enter no of rows: 5

*****
 *  *
  * *
   **
    *